@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GS Logistics  LLC. </h1>
    <h2>Customers Portal</h2>
     <p><a href="http://wwww.gslogisticsllc.net class="btn btn-primary btn-lg">Visit our site &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>
           See your current appointments
        </p>
        <p><a class="btn btn-default" href="#">Go to my Appointments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Print Stuff</h2>
        <p>Reports or something.</p>
        <p><a class="btn btn-default" href="#">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Services</h2>
        <p>Description of what else we do.</p>
        <p><a class="btn btn-default" href="#">Services &raquo;</a></p>
    </div>
</div>